{% extends 'base.html' %}
{% block title %}
    Login | Library
{% endblock %}

{% block form %}
    <div><h1>Login</h1></div>
    <form action="" method="POST" style="max-width: 300px;">
        {% csrf_token %}
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" name="username" id="inputUsername" required/>
        </div> 
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" name="password" id="inputPassword" required/>
        </div> 
        <br>
        <input class="form-control btn btn-info" id="submitButton" onclick="loginformsubmit()" value="Submit" type="submit">
        <div class="error">{% if msg %}{{msg}}{% endif %}</div>
    </form>
{% endblock %}